/* Projects Section */
#projects {
  background-color: var(--surface-color);
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
  gap: 2rem;
  margin-top: 3rem;
}