/* Hero Section */
#hero {
    height: 90vh;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text {
    flex: 1;
    padding-right: 2rem;
}

.hero-greeting {
  font-weight: 500;
}

.hero-text h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    text-align: left;
}

.hero-text h2 {
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: 1.5rem;
}

.hero-text h2::after {
    left: 0;
    transform: none;
    height: 0px;
}

.hero-text p {
    margin-bottom: 1rem;
    max-width: 600px;
    text-align: justify;
}

.hero-btns {
    display: flex;
    gap: 1rem;
}

.hero-btns > a[href = "#projects"] {
    animation: buttonAnimate 3s ease-in-out infinite;
}

@keyframes buttonAnimate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.97);
    }
    100% {
        transform: scale(1);
    }
}

.hero-image {
    flex: 1;
    position: relative;
    margin-top: 5rem;
}

.hero-image img {
    width: 100%;
    max-width: 500px;
    border-radius: 20px;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
    100% { transform: translateY(0); }
}

@media (max-width: 480px) {
    .hero-text h1 {
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {
    #hero {
        height: auto;
    }

    .hero-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .hero-text {
        padding-right: 0;
        margin: 2rem 0;
    }

    .hero-text h2 {
        font-size: 1rem;
    }

    .hero-image {
        order: -1;
        margin-top: 0rem;
    }

    .hero-image img {
        max-width: 100%;
    }
}

@media (max-width: 992px) {
    .hero-image {
        order: -1;
    }
}