/* Navigation Styles */
.nav-links {
  display: flex;
  gap: 4rem;
  list-style: none;
  z-index: 100;
}

.nav-links a {
  color: var(--text-color);
  position: relative;
}

.nav-links > li > a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--primary-color);
  transition: width 0.3s ease;
}

.nav-links a:hover {
  color: var(--primary-color);
}

.nav-links a:hover::after {
  width: 100%;
}

.nav-links .copyright,
.nav-links .social-icons {
  display: none;
  color: var(--text-light-color);
  font-size: 0.9rem;
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    position: absolute;
    top: 92px;
    left: 0;
    width: 100%;
    background: white;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    transition: all 0.5s ease;
  }

  .active {
    display: flex; /* Show when active */
  }

  .show {
    display: block;
  }

  .nav-links > li {
    width: 100%;
    padding-bottom: 1rem;
    margin: 0;
    border-bottom: 1px solid var(--primary-color-light);
  }

  .nav-links .social-icons {
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
  }

  .nav-links .copyright {
    display: flex;
    margin-top: 1rem;
    font-size: 0.8rem;
    text-align: center;
  }

  .scale-up-center {
      -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
}
