.logo {
    color: var(--primary-color);
    line-height: 0;
}

.logo img {
    height: 30px;
    object-fit: contain;
}

@media screen and (max-width: 768px) {
    .logo img {
        height: 20px;
    }
}