/* Footer */
footer {
  background: var(--surface-color);
  padding: 2rem 0;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.footer-links {
  display: flex;
  gap: 2.5rem;
  list-style: none;
}

.footer-links a:hover {
  color: var(--secondary-color);
}

.copyright {
  color: var(--text-light-color);
  font-size: 0.9rem;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .footer-content {
    padding: 1rem;
  }

  .footer-links {
    flex-direction: column;
    align-items: center;
  }

  .footer-links a {
    margin-bottom: 0.5rem;
  }
}
