@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Global Styles */
:root {
  --primary-color: #1974D2;   /* Denim Blue */
  --secondary-color: #145A9E; /* Deeper blue for contrast elements */
  --dark-color: #0D1B2A;      /* Deep navy for texts and dark sections */
  --light-color: #F5FAFF;     /* Very light blue-tinted white for backgrounds */
  --accent-color: #FFAE00;    /* Warm contrast color for buttons, highlights */
  --gray-color: #64748b;      /* Neutral soft gray for borders, UI elements */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--light-color);
    color: var(--dark-color);
    line-height: 1.6;
}
        
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.btn {
    display: inline-block;
    background: var(--primary-color);
    color: white;
    padding: 0.8rem 1.8rem;
    border-radius: 50px;
    font-weight: 400;
    transition: all 0.3s ease;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.btn:hover {
    background: var(--secondary-color);
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.btn-outline {
    background: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.btn-outline:hover {
    background: var(--primary-color);
    color: white;
}

.text-center {
    text-align: center;
}

.Toastify {
    padding: 0;
}

section {
    padding: 6rem 0;
}

h1, h2, h3 {
    line-height: 1.2;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
    position: relative;
}

h2::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 4px;
    background: var(--primary-color);
    border-radius: 2px;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
    color: var(--gray-color);
}

li {
    list-style-type: none;
    list-style-position: inside;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    transition: all 0.3s ease;
}

a:hover {
    color: var(--secondary-color);
}