/* Global Styles */
:root {
  --primary-color: #1974d2;
  --primary-color-light: #4da0ff;
  --primary-color-dark: #0e4f97;
  --secondary-color: #ffb400;

  --background-color: #f5f8fa;
  --surface-color: #ffffff;

  --text-color: #1a1a1a;
  --text-light-color: #555555;
  --muted-text-color: #a0a0a0;

  --border-color: #e1e6eb;
  --shadow-color: rgba(0, 0, 0, 0.08);

  --success-color: #2ecc71;
  --error-color: #e74c3c;

  --gradient-primary: linear-gradient(135deg, #0e4f97, #4da0ff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "TikTok Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100;
  line-height: 180%;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.text-center {
  text-align: center;
}

.Toastify {
  padding: 0;
}

section {
  padding: 6rem 0;
}

h1,
h2,
h3 {
  line-height: 1.2;
  background-clip: text;
  background: linear-gradient(45deg, var(--primary-color-light), var(--primary-color), var(--primary-color-dark));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

h1 {
  font-weight: 900;
  font-size: 3.5rem;
}

h2 {
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-align: center;
  position: relative;
}

h2::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 3px;
  background: var(--primary-color);
  border-radius: 2px;
}

h3 {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
  color: var(--text-light-color);
}

li {
  list-style-type: none;
  list-style-position: inside;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  transition: all 0.3s ease;
}

a:hover {
  color: var(--secondary-color);
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
            transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
            transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
            transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
            transform: scale(1);
    }
}